.main{
    margin: 40px;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 40px 0px;
}
.heading{
    text-align: center;
}

@media screen and (max-width: 400px) {
    .heading{
        font-size: 22px;
    }
}